:root {
  --primary-color: #e81c52;
  --primary-color-medium: #e8416e;
  --primary-color-light: #e887a1;

  --secondary-color: ;
  --secondary-color-medium: ;
  --secondary-color-light: ;

  --thirdly-color: ;
  --thirdly-color-medium: ;
  --thirdly-color-light: ;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}


